#sx-classes-ajaxLoader-1 {
    background: url('../images/1.gif');
    width: 79px;
    height: 79px;
}

#sx-classes-ajaxLoader-2 {
    background: url('../images/2.gif');
    width: 79px;
    height: 79px;
}